.whatsapp-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid #444;
    margin: 10px 0;
    width: 100%;
}

.whatsapp-card-label {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    font-size: 0.7em;
    font-weight: bold;
    color: #505050;
    width: 100%;
}

.whatsapp-card-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.whatsapp-card-number {
    font-size: 1.2em;
    color: #d0d0d0;
    flex-grow: 1;
}
.whatsapp-card-status {
    font-size: 0.9em;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}
.whatsapp-card-status.is-active {
    background-color: #4caf50;
    color: white;
    border: none;
}
.whatsapp-card-status.is-inactive {
    background-color: #f44336;
    color: white;
    border: none;
}