.paleta-colores {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.paleta-colores h4 { 
    width: 100%;
    color: #797979;
    font-size: 1.2rem;
    margin: 5px 0 0 0;
}

.paleta-colores h4 {
    font-size: 1rem;
    margin-bottom: 10px;
}